#gallery {
  background: #fff;
  width: 100vw;
  height: 100vh;
  color: #000;
  overflow: hidden;
  position: relative;
  transition: all .3s;

  .galleryInterface {
    width: 100%;
    height: 100%;
    position: absolute;

    .arrow {
      opacity: .2;

      .up {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translateX(-50%) translateY(0) rotate(180deg);
        animation: arrowUp 1.5s ease infinite;
        transition: all .3s;
        opacity: 0;
      }
    
      .down {
        position: absolute;
        top: 680px;
        left: 50%;
        transform: translateX(-50%) translateY(0);
        animation: arrowDown 1.5s ease infinite;
        transition: all .3s;
      }
    }
    .year {
      height: 2rem;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 300px;
      overflow: hidden;

      span {
        font: 1.8rem "GangwonEduPowerExtraBoldA";
        position: relative;
        transition: all .3s;
        
        &:first-child {
          padding-top: 2%;
        }
      }
    }
  }

  .titleContainer {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 58%;
    transition: all .3s ease;

    .titleCarouselWrap {
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 6rem;
      overflow: hidden;
      transition: all .3s ease;
      
      .titleCarousel {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 6rem;
        overflow: hidden;
        transition: all .3s ease;
        flex-shrink: 0;
  
        .title {
          font-family: "GangwonEduPowerExtraBoldA";
          position: relative;
          top: 0;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 6rem;
          text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
          transition: all .3s ease;

          h2 {
            font-size: 3.8rem;
            margin-top: .8rem;
          }
          
          h3 {
            font-size: 1.2rem;
            margin-top: -1.5vh;
          }
        }
      }
    }
  }

  .carouselContainer {
    position: relative;
    width: 100vw;
    top: 40%;
    overflow: hidden;
    transition: all .3s ease;
  
    .carouselWrap {
      position: relative;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      transition: all .3s ease;

      .carousel {
        position: relative;
        display: flex;
        align-items: center;
        transition: all .3s ease;
        width: 100%;
      
        .carouselItem {
          flex-shrink: 0;
          transition: all .3s ease;
          position: relative;

          &:first-child {
            margin-left: 50px;
          }

          .thumbnail {
            width: 100%;
            position: relative;
            aspect-ratio: 3/2;
            overflow: hidden;
            
            .photoContainer {
              position: relative;
              width: 100%;
              aspect-ratio: 3/2;
              overflow: hidden;
              display: flex;

              img {
                height: 100%;
                object-fit: contain;
                position: relative;
                transition: all .3s ease;
              }
            }
          }

          .scrollbar {
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: end;
            margin: 30px 0;
            height: 40px;
            display: none;

            span {
              width: 3px;
              height: 5px;
              background: #999;
              transition: all .3s;
            }
          }

          &.active {
            margin: 0;
            padding: 0;
            width: 100vw;
          }
        }
      }
    }
  }
}

@keyframes arrowUp {
  0% {
  transform: translateX(-50%) translateY(0) rotate(180deg);
  }
  50% {
  transform: translateX(-50%) translateY(-20px) rotate(180deg);
  }
  89% {
    transform: translateX(-50%) translateY(-20px) rotate(180deg);
  }
  90% {
  transform: translateX(-50%) translateY(0) rotate(180deg);
  }
}

@keyframes arrowDown {
  0% {
  transform: translateX(-50%) translateY(0);
  }
  50% {
  transform: translateX(-50%) translateY(20px);
  }
  89% {
    transform: translateX(-50%) translateY(20px);
  }
  90% {
  transform: translateX(-50%) translateY(0);
  }
}