#video {
  background: #fafafa;
  width: 100vw;
  height: 100vh;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  .titleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6rem;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 53%;
    transition: all .3s ease;

    .titleCarousel {
      position: relative;
      top: 0;
      transition: all .3s ease;
      
      .title {
        font-family: "GangwonEduPowerExtraBoldA";
        display: flex;
        flex-direction: column;
        height: 6rem;
        text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  
        h2 {
          font-size: 3.8rem;
          margin-top: .8rem;
        }
  
        h3 {
          font-size: 1.2rem;
          margin-top: -1rem;
        }
      }
    }
  }

  .carousel {
    display: flex;
    position: relative;
    top: 33%;
    align-items: center;
    transition: all .3s ease;

    &.active {
      top: 0;
      align-items: start;
    }

    .carouselItem {
      flex-shrink: 0;
      transition: all .3s;
      
      &:first-child {
        margin-left: 50px;
      }
      
      .thumbnail {
        width: 100%;
        position: relative;
        aspect-ratio: 3/2;
        overflow: hidden;

        .cover {
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          transition: all .5s;

          img {
            height: 100%;
            object-fit: contain;
            position: relative;
            transition: all .5s;
            opacity: 1;
            visibility: visible;
          }
        }
        .video {
          pointer-events: none;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          
          iframe {
            width: 300%;
            height: 300%;
            position: absolute;
          }
        }
      }

      &:nth-child(1) .thumbnail .cover img {
        transform: scale(1);
      }
      &:nth-child(2) .thumbnail .cover img {
        transform: scale(1);
      }
      &:nth-child(3) .thumbnail .cover img {
        transform: scale(2);
      }
      &:nth-child(4) .thumbnail .cover img {
        transform: scale(1);
      }

      &.active {
        width: 100vw;
        margin-left: 0;
        
        .thumbnail {
          margin-top: 0;
          aspect-ratio: 1/1.5;

          img {
            opacity: 0;
            visibility: hidden;
          }
        }
        .video {
          opacity: 1;
          visibility: visible;
          position: absolute;
        }

        .post {
          display: flex;
          opacity: 1;
        }
      }

      .post {
        display: none;
        opacity: 0;
        transition: all .3s;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        margin-top: 120px;
        margin-bottom: 100px;

        .youtubeIcon {
          display: flex;
          gap: 10px;

          div {
            position: relative;
            width: 35px;
            height: 35px;

            a {
              display: block;
              width: 100%;
              height: 100%;
              border: 2px solid #000;
              border-radius: 20%;
              position: absolute;
              top: 0;
              left: 0;
              transition: all .3s;
              
              &:nth-child(1) {
                background: #fff;
              }
              
              &:nth-child(2) {
                background: #000;
                opacity: 0;
              }

              img {
                position: relative;
                width: 100%;
                top: 0;
              }
            }
          }
        }

        .textbox {
          width: 80%;
          line-height: 125%;

          span {
            font-family: "Paperlogy-6SemiBold";
          }
        }

        .list {
          width: 80%;
          margin-top: 20px;

          li {
            border-top: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;

            &:last-child {
              border-bottom: 1px solid #000;
            }

            span {
              font: 1rem "GongGothicMedium";
            }

            time {
              font: 0.8rem "GongGothicLight";
            }

            &.active {
              span {
                color: #fff;
                text-shadow: 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000;
                font: 1rem "GongGothicBold";
              }
            }
          }
        }
      }
    }
  }
}
